{% extends "DjggSharepriceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} product{% endblock %}

{% block DjggShareprice_body %}

<p class="titre"><span>Product {{ entity.id }}</span>
<a class="action_list" href="{{ path('djgg_shareprice_product_grid') }}">Back to the list</a>
</p>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('djgg_shareprice_product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('djgg_shareprice_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('djgg_shareprice_product_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
