{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<!-- DEBUT FOS_USER_CONTENT -->
{% if error %}
    <div>{{ error|trans({}, 'DgUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-small btn-primary">
    <i class="icon-user icon-white"></i> Connexion</button>
</form>
<!-- FIN FOS_USER_CONTENT -->
{% endblock fos_user_content %}
