{% extends "DgMercurialeBundle::layout.html.twig" %}

{% block title %}
	Ajouter un tarif - {{ parent() }}
{% endblock %}

{% block DgMercuriale_body %}

<h1>Tarif edit</h1>

<form action="{{ path('tarif_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tarif') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('tarif_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}

